
# App
/.next

# Endpoint
/data

# Testing
**/cypress/screenshots/**
!**/cypress/screenshots/Preview.png
!**/cypress/screenshots/.keep

# Generalized
**/*.tsbuildinfo
**/next-env.d.ts
**/node_modules
**/.env*
**/yarn*
